In [22]:
# Se importan las librerias necesarias 
import pandas as pd
import numpy as np

In [23]:
# Se crea objeto "emicron" para leer la base de datos
emicron = pd.read_csv("https://github.com/niconomist98/DataAnalyticsUQ/raw/refs/heads/main/Datos/EMICRON/emicron_identificacion.csv")

In [24]:
# Previsualizando los encabezados de la tabla
emicron

,DIRECTORIO,SECUENCIA_P,SECUENCIA_ENCUESTA,COD_DEPTO,AREA,CLASE_TE,P35,P241,MES_REF,P3031,P3032_1,P3032_2,P3032_3,P3033,P3034,P3035,P3000,GRUPOS4,GRUPOS12,F_EXP
0,7627444,1,1,44,NaN,2,2,33,ENERO,2,NaN,NaN,NaN,2,240,2,2,2,3,60.050515
1,7627446,1,1,44,NaN,2,1,31,ENERO,2,NaN,NaN,NaN,2,166,2,2,1,1,86.341075
2,7627449,1,1,68,NaN,1,2,42,ENERO,2,NaN,NaN,NaN,2,60,2,2,3,5,139.884518
3,7627453,1,2,68,NaN,1,2,41,ENERO,2,NaN,NaN,NaN,2,60,2,2,4,7,168.635440
4,7627456,1,3,68,NaN,1,1,18,ENERO,2,NaN,NaN,NaN,2,9,2,2,4,6,64.659273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78496,8038070,1,3,13,NaN,1,1,24,DICIEMBRE,2,NaN,NaN,NaN,2,48,1,2,4,7,362.509123
78497,8038071,1,1,13,NaN,2,1,30,DICIEMBRE,2,NaN,NaN,NaN,2,48,2,2,1,1,158.805116
78498,8038073,1,1,13,NaN,2,1,66,DICIEMBRE,2,NaN,NaN,NaN,2,500,2,2,1,1,57.451130
78499,8038074,1,3,13,NaN,2,1,71,DICIEMBRE,2,NaN,NaN,NaN,2,500,2,2,1,1,93.355386
78500,8038075,1,1,13,NaN,2,1,64,DICIEMBRE,2,NaN,NaN,NaN,2,480,2,2,1,1,98.197081

Desarrollo de los puntos:

In [25]:
# 1. Calcule la cantidad de micronegocios que hay en el departamento del QuindÃ­o encabezados por hombres y mujeres entre los 18 y los 28 aÃ±os 
# Filtrar micronegocios en QuindÃ­o encabezados por personas entre 18 y 28 aÃ±os
microneg_quindio = emicron.query("COD_DEPTO == 63 and 18 <= P241 <= 28")['F_EXP'].sum()

# Mostrar el resultado como nÃºmero entero
print(f"Cantidad de micronegocios en el QuindÃ­o encabezados por personas con edades entre 18 y 28 aÃ±os: {int(microneg_quindio)}")

Cantidad de micronegocios en el QuindÃ­o encabezados por personas con edades entre 18 y 28 aÃ±os: 3813

In [26]:
# 2.	Cual es la ciudad en la que existen mas micronegocios encabezados por hombres entre los 20 y los 30 aÃ±os

# Filtrar micronegocios encabezados por hombres entre 20 y 30 aÃ±os
micron_hombres = emicron.query("P35 == 1 and 20 <= P241 <= 30")

# Agrupar por ciudad (o Ã¡rea) y sumar el factor de expansiÃ³n
micron_por_ciudad = micron_hombres.groupby('AREA')['F_EXP'].sum().sort_values(ascending=False)

# Mostrar la ciudad con mayor cantidad estimada de micronegocios
ciudad_top = micron_por_ciudad.idxmax()
cantidad_top = int(micron_por_ciudad.max())

print(f"La ciudad con mÃ¡s micronegocios encabezados por hombres entre 20 y 30 aÃ±os es: {ciudad_top} ({cantidad_top} micronegocios)")

La ciudad con mÃ¡s micronegocios encabezados por hombres entre 20 y 30 aÃ±os es: 5.0 (46673 micronegocios)

In [27]:
# 3.	En el departamento del Tolima Â¿CuÃ¡ntos micronegocios existen encabezados por mujeres que no tienen una persona que les ayude en el micronegocio?

# Filtrar micronegocios en Tolima encabezados por mujeres sin ayudante
microneg_tolima = emicron.query("COD_DEPTO == 73 and P35 == 2 and P3031 == 2")['F_EXP'].sum()

# Mostrar el resultado como nÃºmero entero
print(f"Cantidad de micronegocios en Tolima encabezados por mujeres sin ayudante: {int(microneg_tolima)}")

Cantidad de micronegocios en Tolima encabezados por mujeres sin ayudante: 28203

In [28]:
# 4. Cuantos micronegocios hay en la ciudad de BogotÃ¡ encabezados por mujeres que estÃ©n en el sector de la industria manufacturera
# Filtrar micronegocios en BogotÃ¡ encabezados por mujeres en industria manufacturera
microneg_bogota = emicron.query("COD_DEPTO == 11 and P35 == 2 and GRUPOS4 == 2")['F_EXP'].sum()

# Mostrar el resultado como nÃºmero entero
print(f"Cantidad de micronegocios en BogotÃ¡ encabezados por mujeres en industria manufacturera: {int(microneg_bogota)}")

Cantidad de micronegocios en BogotÃ¡ encabezados por mujeres en industria manufacturera: 24601

In [29]:
# 5. Formular una pregunta con minimo dos variables de interes personal 
# Â¿Cuantos micronegocios en el departamento del Quindio se dedican a la industria manufacturera?
# Â¿Que propoposion ocupuan del total de micrinegicios del departamento?

# Micronegocios en QuindÃ­o dedicados a la industria manufacturera
microneg_manufactura = emicron.query("COD_DEPTO == 63 and GRUPOS4 == 2")['F_EXP'].sum()

# Total de micronegocios en el departamento del QuindÃ­o
total_microneg_quindio = emicron.query("COD_DEPTO == 63")['F_EXP'].sum()

# Calcular proporciÃ³n como porcentaje
proporcion_manufactura = (microneg_manufactura / total_microneg_quindio) * 100

print(f"Cantidad de micronegocios en QuindÃ­o dedicados a la industria manufacturera: {int(microneg_manufactura)}")
print(f"ProporciÃ³n sobre el total de micronegocios del departamento: {proporcion_manufactura:.2f}%")

Cantidad de micronegocios en QuindÃ­o dedicados a la industria manufacturera: 3196
ProporciÃ³n sobre el total de micronegocios del departamento: 8.60%